.header {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-between; // align-items: baseline;
    &__logo {
        position: absolute;
        top: -46px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__phone {
        text-decoration: none;
        color: white;
        opacity: 0.6;
    }
    &__call {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        border-bottom: 1px dashed white;
        opacity: 0.6;
    }
    @media (max-width: 720px) {
        top: 30px;
        display: block;
        &__logo-image {
            width: 90px;
        }
        &__logo {
            left: 0;
            transform: none;
            top: 0;
        }
        &__phone {
            float: right;
            margin-bottom: 10px;
            padding-top: 10px;
        }
        &__call {
            clear: right;
            float: right;
        }
       
    }
}