.section {
    padding: 130px 0;
    position: relative;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &\--grey {
        background-color: #eee;
    }

    &__title {
        left: 50%;
        top: -.5em;
        transform: translateX(-50%);        
    }

    &__left {
        width: 50%;
    }
    &__right {
        width: 33%;
    }
    &__bottom {
        text-align: center;
        margin-top: 35px;
    }

    @media (max-width: 960px) {
        &__inner {
            flex-direction: column;
        }
        &__left {
            width: auto;
        }
        &__width {
            width: auto;
        }
    }

    @media (max-width: 760px) {
        padding: 60px 0;
    }
}