.textarea {
    text-align: center;
    line-height: normal;
    height: 52px;
    background-color: #eee;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding: 20px;
    border: none;
    &:placeholder {
        text-transform: uppercase;
        font-size: 14px;
    }
}