.textual {
    font-size: 16px;
    line-height: 1.5;
    color: #000;

    &__p {
        margin-bottom: 1em;
    }
    &__ol {
        margin-bottom: 1em;
        list-style: decimal;
        position: relative;
        left: -5px;
        padding: 0;
    }
    &__list-item {
        padding-left: 5px;
    }
    &__link {
        text-decoration: none;
        color: #000;
    }
    &\--big {
        font-size: 24px;
        line-height: 1.3;
    }
    &__header {
        font-size: 32px;
        line-height: 36px;
        font-weight: normal;
        margin-bottom: 1em;
    }
    @media (max-width: 960px) {
        &__ol {
            margin-left: 2em;
        }
    }
}