@import 'common';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/wrapper';
@import 'blocks/button';
@import 'blocks/input';
@import 'blocks/form';
@import 'blocks/textarea';
@import "blocks/container";
@import "blocks/nav";
@import "blocks/footer";
@import "blocks/section";
@import "blocks/best";
@import "blocks/consultation";
@import "blocks/title";
@import "blocks/textual";